@use "Variable.scss";

* {
  margin: 0;
  box-sizing: 0;
}

nav {
  width: 100%;
  height: 5em;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  padding: 1em;

  .burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: aqua;
    border-radius: 0.5em;
  }

  .menu {
    width: 50%;
    height: 100vh;
    background-color: chartreuse;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(0.5em, 1.25em);
    transition: ease-out 0.5s;
  }

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
  li {
    text-align: center;
    padding: 1rem;
    justify-content: space-around;
  }

  li:hover {
    color: #0c364e;
    transform: rotate(10deg);
    transition: transform 0.9s ease;

    transition: box-shadow 1s ease;
    border: 3px solid #831820;
    transition: border 0.3s ease;
    border-radius: 20%;
    background-color: #a4cbdc;
    transition: background-color 1s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

button {
  background-color: transparent;
  border-style: none;
  font-size: 2rem;
}

@keyframes garage {
  0% {
    background-image: url("../assets/fordDealership.png");
    opacity: 1;
    filter: blur(0);
  }
  50% {
    background-image: url("../assets/fordT.jpg");
    background-size: 40% auto;
    opacity: 1;
    filter: blur(0);
  }
  100% {
    background-image: url("../assets/xk120.png");
    background-size: 50% auto;
    opacity: 1;
    filter: blur(0);
  }
}

.garage {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: garage 25s ease-in-out infinite;
  transition: opacity 1s ease, filter 1s ease;
  position: absolute;
  z-index: -1;
}
