@use './Variable.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar_logo img {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: auto;
  height: 23vh;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 25vh;
  left: 0;
  align-items: center;
  justify-content: space-between;

  font-size: medium;

  overflow-x: hidden;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-content: center;
  margin-left: 4rem;
}

.navbar_link {
  padding: 0 0.3rem;
  font-size: x-large;
  color: inherit;
}

.navbar_link:hover {
  transform: rotate(10deg);
  transition: transform 0.9s ease;
  transition: box-shadow 1s ease;
  border: 5px solid blue;
  transition: border 0.3s ease;
  border-radius: 25%;
  background-color: blue;

  transition: background-color 1s ease;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.navbar_burger {
  width: 3.4rem;
  height: 3.4rem;
  background: transparent;
  border: none;
  color: inherit;
}

@media screen and (max-width: 767px) {
  .navbar {
    background-color: rgb(38, 22, 23);
    width: 100vw;
    height: 14vh;
  }

  .navbar_logo img {
    display: flex;
    align-items: center;
    left: 1vw;
    width: auto;
    height: 13vh;
  }
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: fixed;
    right: -100vw;
    top: 1rem;
    bottom: 0;
    height: 70vh;
    padding: 1rem;
    visibility: hidden;
    background-color: rgb(38, 22, 23);
  }

  .navbar_link {
    width: 8rem;
  }
  .navbar_link:hover {
    transform: rotate(10deg);
    transition: transform 0.9s ease;
    transition: box-shadow 1s ease;
    border: 2px solid blue;
    transition: border 0.3s ease;
    border-radius: 25%;
    background-color: blue;
    background-color: blue;
    transition: background-color 1s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .show-nav .navbar_links {
    width: 100vw;
    right: 0;
    visibility: visible;
    gap: 0.5rem;
  }

  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }

  .navbar_burger {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .burger-bar {
    display: block;
    width: 2.5rem;
    height: 0.3em;
    background-color: rgb(255, 254, 218);
    position: relative;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: '';
    display: block;
    width: 40px;
    height: 0.3em;
    background-color: rgb(255, 254, 218);
    border-radius: 3px;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in-out;
  }
}
.burger-bar::before {
  transform: translateY(-12px);
}
.burger-bar::after {
  transform: translateY(12px);
}

.show-nav .burger-bar {
  width: 0;
  background: transparent;
}
.show-nav .burger-bar::before {
  transform: rotate(45deg);
}
.show-nav .burger-bar::after {
  transform: rotate(-45deg);
}
