@import './Variable';

.reduced {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 25vh;
}
 .logo {
    width: Auto;
    height: 25vh;
 }

 h1 {
    align-content: center;
 }

 @media screen and (max-width: 767px) {
    .reduced {
        display: flex;
        width: 10vw;
        height: 20vh;
    }
     .logo {
        width: 5vw;
        height: auto;
     }
 }
