@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$colorDark: rgb(38, 22, 23);
$colorLight: rgb(255, 254, 218);
$colorBorder: rgb(66, 108, 118);
$color-primary: blue;
